#listContainer {
    text-align: center;
}

ul {
    display: inline-block;
    list-style-type: none;
    width: 600px;
}

li {
    display: inline-block;
    line-height: 150px;
    width: 600px;
}

#imageContainer {
    float: left;
    width: 150px;
    height: 150px;
}