<!DOCTYPE html>
<html ng-app="app">
<head >
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
</head>
<body>
    <div id="listContainer" ng-controller="MainController as ctrl">
        <ul>
            <li ng-repeat="photo in ctrl.photos">
                <div id="imageContainer">
                    <img big-image="{{photo.url}}" ng-src="{{photo.thumbnailUrl}}">
                </div>
                <br>{{photo.title}}</br>
            </li>
        </ul>
    </div>
    <script src="app/app.module.js"></script>
    <script src="app/httpFactory.js"></script>
    <script src="app/PhotosResource.js"></script>
    <script src="app/bigImage.directive.js"></script>
    <script src="app/MainController.js"></script>    
</body>
</html>